$color-text: #D1D1D1;
$color-text-footer: #C7C7C7;
$color-emphasis: #18CDCA;
$color-background: #313131;
$color-background-green: #094E4C;
$color-background-footer: #2D3A52;
$color-overlay-blue: rgba(15, 39, 87, 0.6);;
$color-overlay-green: rgba(9, 78, 76, 0.55);;
$color-overlay-green-light: rgba(9, 78, 76, 0.25);
