.font-bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.font-h1 {
  font-weight: 100;
  font-size: 36px;
  line-height: 50px;
}

.font-h1-bold {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
}

.font-h2 {
  font-size: 32px;
  line-height: 120%;
}

@media all and (max-width: 900px) {
  .font-h1 {
    font-size: 28px;
    line-height: 50px;
  }

  .font-h1-bold {
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
  }

  .font-h2 {
    font-size: 24px;
    line-height: 120%;
  }
}
